/*===============header==============*/
#header{width: 100%;height: 52px;position: relative;}
#header .wrap{height: 52px;position: relative;}
#menu1{width:280px;height:52px;background: #fff;float: left;}
#logo{float: left;}
.phone1{position: relative;right: 4px;top:3px;}
#line{position: relative;left: -37px;top:2px;}
#line{margin-top: 19px;}
#btn1{font-size: 12px;float: left;border: 0;background: #fff;margin:18px 11px 22px 14px;}
#btn2{font-size: 12px;float: left;border: 0;background: #fff;margin:18px auto;}
#menu2{width: 926px;height: 52px;margin-left: 267px;}
#menu3{float: right;margin-top: 18px;}
#menu3 .my{width: 71px;height: 20px;background: url(../images/间隔线.jpg) no-repeat right 2px;text-align: center;}
#menu3 .brand{width: 71px;height: 20px;background: url(../images/间隔线.jpg) no-repeat right 2px;text-align: center;}
#menu3 .store{width:87px;height:20px;background: url(../images/间隔线.jpg) no-repeat right 4px;text-align: center;}
#menu3 .company{color:red;width:72px;height: 20px;background: url(../images/间隔线.jpg) no-repeat right 2px top 2px;text-align: center;}
#menu3 .shop{width:98px;height:14px;text-align: center;}
/*===============header==============*/
/*================header1=================*/
#header1{width:100%;height: 36px;background: #231f20;}
#header1 .wrap{height:36px;position: relative;z-index: 5}
.list{float: left;}
.img44{float: left;}
/* .inp{float:left;margin-top: 4px;width: 170px;height: 24px;border-radius:5px 0 0 5px;background: #fff;}
.btn1{background:url(../images/uu.jpg)margin-top:2px;border:0;background:#fff;right:5px;width:30px;height: 27px;float: right;margin-top: 5px; border-radius:0 5px 5px 0px;background: #fff;}
 */
 #div1{position: absolute;left: 211px;top: 36px;z-index: 20}
.img{position: relative;left: 17px;float: left;}
.p{position:relative;left:40px; font-size: 14px;font-weight: bolder;height:26px;line-height: 26px;border-bottom: 1px dashed #dfdfdf; display: inline-block; width: 407px;height: 26px;}
.line2{width:50px;height:306px;background: #f1f1f1;position:relative;left:40px;display: inline;} 
.span{position:relative;left:40px;height:26px;line-height: 26px;font-size: 12px;width:407px;height:31px;display: inline-block;}

#div2{position:absolute;left: 286px;top:36px;z-index: 20}
.img1{position: relative;left: 17px;float: left;}
.p1{position:relative;left:40px; font-size: 14px;font-weight: bolder;height:26px;line-height: 26px;border-bottom: 1px dashed #dfdfdf; display: inline-block; width: 407px;height: 26px;}
.line3{width:50px;height:306px;background: #f1f1f1;position:relative;left:40px;display: inline;} 
.span1{position:relative;left:40px;height:26px;line-height: 26px;font-size: 12px;width:407px;height:31px;display: inline-block;}
 
 #div3{position: absolute;left: 363px;top:36px;z-index: 20}
 .img2{position: relative;left: 17px;float: left;}
.p2{position:relative;left:40px; font-size: 14px;font-weight: bolder;height:39px;line-height: 39px;border-bottom: 1px dashed #dfdfdf; display: inline-block; width: 407px;height: 39px;}
.line4{width:50px;height:306px;background: #f1f1f1;position:relative;left:40px;display: inline;} 
.span2{position:relative;left:40px;font-size: 12px;width:407px;display: inline;}

 #div4{position: absolute;left: 439px;top:36px;z-index: 20}
.img3{position: relative;left: 17px;float: left;}
.p3{position:relative;left:40px; font-size: 14px;font-weight: bolder;height:26px;line-height: 26px;border-bottom: 1px dashed #dfdfdf; display: inline-block; width: 407px;height: 26px;}
.line5{width:50px;height:306px;background: #f1f1f1;position:relative;left:40px;display: inline;} 
.span3{position:relative;left:40px;height:26px;line-height: 26px;font-size: 12px;width:407px;height:31px;display: inline-block;}

 #div5{position: absolute;left: 515px;top:36px;z-index: 20}
.img4{position: relative;left: 17px;float: left;}
.p4{position:relative;left:40px; font-size: 14px;font-weight: bolder;height:26px;line-height: 26px;border-bottom: 1px dashed #dfdfdf; display: inline-block; width: 407px;height: 26px;}
.line6{width:50px;height:306px;background: #f1f1f1;position:relative;left:40px;display: inline;} 
.span4{position:relative;left:40px;height:26px;line-height: 26px;font-size: 12px;width:407px;height:31px;display: inline-block;}

#div6{position: absolute;left: 592px;top:36px;z-index: 20}
.img5{position: relative;left: 17px;float: left;}
.p5{position:relative;left:40px; font-size: 14px;font-weight: bolder;height:26px;line-height: 26px;border-bottom: 1px dashed #dfdfdf; display: inline-block; width: 407px;height: 26px;}
.line7{width:50px;height:306px;background: #f1f1f1;position:relative;left:40px;display: inline;} 

 #div7{position: absolute;left: 596px;top:36px;z-index: 20}
 .img6{position: relative;left: 17px;float: left;}
.p6{position:relative;left:40px; font-size: 14px;font-weight: bolder;height:39px;line-height: 39px;border-bottom: 1px dashed #dfdfdf; display: inline-block; width: 407px;height: 39px;}
.line7{width:50px;height:306px;background: #f1f1f1;position:relative;left:40px;display: inline;} 
.span5{position:relative;left:40px;font-size: 12px;width:407px;display: inline;}


#div8{position: absolute;left: 596px;top:36px;z-index: 20}
 .img7{position: relative;left: 17px;float: left;}
.p7{position:relative;left:40px; font-size: 14px;font-weight: bolder;height:39px;line-height: 39px;border-bottom: 1px dashed #dfdfdf; display: inline-block; width: 407px;height: 39px;}
.line8{width:50px;height:306px;background: #f1f1f1;position:relative;left:40px;display: inline;} 
 

 #div_id{width:201px;height: 26px;background:#fff;position: absolute;right:0;top:3px;border: 1px solid #000; border-radius: 8px 8px 8px 8px}
 #div_id .inp1{width:168px;height: 26px;float:left;border:none;border-radius: 8px 8px 8px 8px}
 #div_id .inp2{width: 33px;height:27px;background: #fff;background:url(../images/ax.jpg) no-repeat center;float:left;border:none;border-radius: 8px 8px 8px 8px}

/* ============header1==================== */
/* ============banner===================== */

#wrap{height: 479px;width: 1190px;margin: 0 auto;overflow: hidden;}
#play{position: relative;height: 479px;width: 1190px;}

.btn1{width:160px;height:30px;position:absolute;top:444px;left: 350px;color: #b9b9b9;background: black;z-index: 2;border:0;border-right:1px solid #c6c6c6;font-size: 12px;display:inline-block; filter:alpha(opacity = 50);opacity:0.5;}
.btn2{width:160px;height:30px;position:absolute;top:444px;left: 510px;color: #b9b9b9;background: black;z-index: 2;border:0;border-right:1px solid #c6c6c6;font-size: 12px;display: inline-block; filter:alpha(opacity = 50);opacity:0.5;}
.btn3{width:160px;height:30px;position:absolute;top:444px;left: 670px;color: #b9b9b9;background: black;z-index: 2;border:0;border-right:1px solid #c6c6c6;font-size: 12px;display: inline-block; filter:alpha(opacity = 50);opacity:0.5;}
.btn4{width:160px;height:30px;position:absolute;top:444px;left: 830px;color: #b9b9b9;background: black;z-index: 2;border:0;border-right:1px solid #c6c6c6;font-size: 12px;display: inline-block; filter:alpha(opacity = 50);opacity:0.5;}
.btn5{width:160px;height:30px;position:absolute;top:444px;left: 990px;color: #b9b9b9;background: black;z-index: 2;border:0;font-size: 12px;display: inline-block; filter:alpha(opacity = 50);opacity:0.5;}
.pic{position: absolute;z-index:0; left:0;width:7140px;height: 479px;}
.pic li{float: left;width: 1190px;height:479px;}
.ol{height: 0px;display: inline;}
#refer{width: 210px;height:475px;position: absolute;display: inline;left: 0;z-index: 20;top: 0;}
#refer div:hover{background: red};
#refer1{width:210px;height: 475px; filter:alpha(opacity = 50);opacity:50;background: black;position: absolute;z-index: 1;display: inline;left: 0;}
#oDiv_11{width:744px;height: 222px;background:gray;z-index: 3;position: absolute;left: 210px;top: 85px;filter:alpha(opacity = 50);opacity:50;}
#oDiv_12{width:744px;height: 222px;background:gray;z-index: 3;position: absolute;left: 210px;top: 85px;filter:alpha(opacity = 50);opacity:50;}

 

/* ==============banner-\============ */
/* -==============img1============ */
#img1{width: 1190px;height: 344px;margin: 0 auto;}
#img1 .wrap{height: 344px;position: relative;width: 1190px;margin: 0 auto;}
.pictureoou{width: 1190px;height: 344px;position:absolute;left: 0px;}
.picoo1{position:absolute;top:20px; left: 0}
.picoo2{position:absolute;left: 239px;top:20px;}
.picoo3{position: absolute;left: 479px;top:20px;}
.picoo4{position: absolute;left: 718px;top:20px;}
.picoo5{position: absolute;left: 957px;top:20px;}
/* -==============img1============ */
/* -==============img2============ */
#img2{width: 100%;height: 511px;}
#img2 .wrap{height: 511px;position:relative;}
.lineheader{position: absolute;z-index: 0}
.line1{position: absolute;top:41px }
.line_2{position: absolute;left:106px;top:41px }
.line_3{position: absolute;top:114px }
.line_4{position: absolute;left:106px;top:114px }
.line_5{position: absolute;top:186px }
.line_6{position: absolute;left: 106px;top:186px }
.popup{width:224px;height: 125px;background: black; position: absolute;top: -123px;z-index: 7;}
.popup1{width:225px;height: 111px; position: absolute;top: -105px;z-index: 7}
.popup2{width: 222px;height: 106px;background: blue;position: absolute;top: -12px;z-index: 7}

.popup3{width: 222px;height: 108px;background: green;position: absolute;top: -12px;z-index: 7}
 

.popup4{width: 223px;height: 107px;background: orange;position: absolute;top: 70px;z-index: 7} 


.popup5{width: 224px;height: 128px;background: purple;position: absolute;top: 70px;z-index: 7} 

#oo1{width: 210px;height: 206px;background:#fafafa;position: absolute;top: 240px;margin-top: 16px}
#oo1 p{display: inline;background:#fafafa;width:179px;height: 13px;line-height: 30px;margin-left: 11px;font-size: 12px;margin-top: 100px;}
.pici{width: 285px;height: 470px;position: absolute;left: 210px;top: 41px;overflow: hidden;}
.pici .oo2{position: absolute;left: 0px;top:0px;width: 287px;height: 472px}
.word1{width: 233px;height: 238px;background: #fff;position: absolute;left: 496px;top: 40px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.kk1{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px}
.kk2{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}
.word2{width: 233px;height: 238px;background: #fff;position: absolute;left: 730px;top: 40px;border-right:1px solid #ccc;border-bottom:1px solid #ccc}
.kk_1{width: 185px;height: 185px;position: absolute;top: 10px;left: 26px}
.kk_2{width: 185px;height: 33px;background: #fff;position:absolute;left: 26px;top:200px;font-size: 12px;text-align: center;line-height: 33px;}

.word3{width: 233px;height: 238px;background: #fff;position: absolute;left: 964px;top: 40px;border-right:1px solid #ccc;border-bottom:1px solid #ccc}

.kk_3{width: 185px;height: 185px;position: absolute;top: 10px;left: 26px}
.kk_4{width: 185px;height: 33px;background: #fff;position:absolute;left: 26px;top:200px;font-size: 12px;text-align: center;line-height: 33px;}

.word4{width: 233px;height: 238px;background: #fff;position: absolute;left: 496px;top: 280px;border-right:1px solid #ccc;border-bottom:1px solid #ccc}
.kk_5{width: 185px;height: 185px;position:absolute;top:10px;left: 26px}
.kk_6{width: 185px;height: 33px;background: #fff;position:absolute;left: 26px;top:200px;font-size: 12px;text-align: center;line-height: 33px;}


.word5{width: 233px;height: 238px;background: #fff;position: absolute;left: 730px;top: 280px;border-right:1px solid #ccc;border-bottom:1px solid #ccc}
.kk_7{width: 185px;height: 185px;position: absolute;top: 10px;left: 26px}
.kk_8{width: 185px;height: 33px;background: #fff;position:absolute;left:26px;top:200px;font-size: 12px;text-align: center;line-height: 33px;}

.word6{width: 233px;height: 238px;background: #fff;position: absolute;left: 964px;top: 280px;border-right:1px solid #ccc;border-bottom:1px solid #ccc}
.kk_9{width: 185px;height: 185px;position: absolute;top: 10px;left: 26px;}
.kk_10{width: 185px;height: 33px;background: #fff;position: absolute;left:26px;top:200px;font-size: 12px;text-align: center;line-height: 33px;}

/* ===============img2==================== */
#img3{width:100%;height: 556px}
#img3 .wrap{height: 556px;position: relative;}
.lineheader1{position:absolute; top: 38px;left: 6px;}
.entry{width: 212px;height: 471px;background: #fff;position: absolute;top:79px;left: 9px; }

.lineheader2{position: absolute;top:79px;left: 221px}

.pri_1{position: absolute;top: 92px;left: 25px;}
.pri_2{position: absolute;top: 92px;left: 121px}
.pri_3{position: absolute;top: 92px;left: 25px;display:none;}


.picture1{width:100px;height: 79px;position:absolute;top: 92px;left: 121px;display:none; }


.picture2{width:109px;height: 76px;position: absolute;top: 180px;left: 16px;}
.picture3{width: 93px;height: 75px;position: absolute;top: 180px;left: 125px;}

.picture4{width: 93px;height: 75px;position: absolute;top: 255px;left: 16px}

.picture5{width: 93px;height: 75px;position: absolute;top: 255px;left: 125px}
.zi{left:8px;width: 210px;height: 232px;background:#fafafa;position: absolute;top: 315px;margin-top: 16px}
.zi p{display: inline;background:#fafafa;width:179px;height: 13px;line-height: 30px;margin-left: 11px;font-size: 12px;margin-top: 100px;}

.popup_1{width:224px;height: 125px;background: red; position: absolute;top: -80px}
.popup_2{width:224px;height: 125px;background:blue; position: absolute;top: -80px}
.popup_3{width:224px;height: 125px;background:orange; position: absolute;top: -80px}
.popup_4{width:224px;height: 125px;background:pink; position: absolute;top: -80px}

.photo{width: 285px;height: 470px;position: absolute;left: 222px;top: 79px;overflow: hidden;}
.photo .photo1{position: absolute;left: 0px;top:0px;width: 287px;height: 472px}


.graph_i{width: 233px;height: 238px;background: #fff;position: absolute;left: 506px;top: 79px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph1i{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px}
.graph_2i{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}


.graph3i{width: 233px;height: 238px;background: #fff;position: absolute;left: 740px;top: 79px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_2ii{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px}
.graph_3i{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}

.graph4i{width: 233px;height: 238px;background: #fff;position: absolute;left: 974px;top: 79px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_4i{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px;}
.graph_5i{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}

.graph5i{width: 233px;height: 238px;background: #fff;position: absolute;left: 506px;top: 319px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_6i{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px;}
.graph_7i{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}



.graph6i{width: 233px;height: 238px;background: #fff;position: absolute;left: 740px;top: 319px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_8i{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px;}
.graph_9i{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}


.graph7i{width: 233px;height: 238px;background: #fff;position: absolute;left: 974px;top: 319px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_10i{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px;}
.graph_11i{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}

/* ============img3================= */
#img4{width: 100%;height:530px;}
#img4 .wrap{height:530px;position: relative;}
.f3{position: absolute;top: 20px;left: 10px;}
.line11{position: absolute;top:61px;left: 10px; }
.line_12{position: absolute;left:116px;top:61px }
.line_13{position: absolute;top:134px;left: 10px}
.line_14{position: absolute;left:116px;top:134px }
.line_15{position: absolute;top:206px;left: 10px }
.line_16{position: absolute;left: 116px;top:206px }
.popup00{width:224px;height: 125px;background: black; position: absolute;top: -143px}
.popup11{width:224px;height: 125px;background: red; position: absolute;top: -143px}
.popup12{width: 224px;height: 125px;background: blue;position: absolute;top: -143px}

.popup13{width: 224px;height: 125px;background: green;position: absolute;top: -143px}
 

.popup14{width: 224px;height: 125px;background: orange;position: absolute;top: -143px} 


.popup15{width: 224px;height: 125px;background: purple;position: absolute;top: -143px} 

#oo11{width: 210px;height: 206px;background:#fafafa;position: absolute;top: 230px;margin-top: 16px}
#oo11 p{display: inline;background:#fafafa;width:179px;height: 13px;line-height: 30px;margin-left: 11px;font-size: 12px;margin-top: 100px;}

.photo_1{width: 285px;height: 470px;position: absolute;left: 220px;top: 59px;overflow: hidden;}
.photo_1 .photo11{position: absolute;left: 0px;top:0px;width: 287px;height: 472px}



.graphpp{width: 233px;height: 238px;background: #fff;position: absolute;left: 506px;top: 79px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_pp{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px}
.graph_1{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}


.graph2{width: 233px;height: 238px;background: #fff;position: absolute;left: 740px;top: 79px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_2{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px}
.graph_3{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}

.graph3{width: 233px;height: 238px;background: #fff;position: absolute;left: 974px;top: 79px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_4{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px;}
.graph_5{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}

.graph4{width: 233px;height: 238px;background: #fff;position: absolute;left: 506px;top: 319px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_6{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px;}
.graph_7{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}



.graph5{width: 233px;height: 238px;background: #fff;position: absolute;left: 740px;top: 319px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_8{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px;}
.graph_9{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}


.graph6{width: 233px;height: 238px;background: #fff;position: absolute;left: 974px;top: 319px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_10{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px;}
.graph_11{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}





/* =============banner补=================== */
 #container1 { width: 1190px; height: 474px; border: 3px solid #333; overflow: hidden; position: relative;margin:0 auto;top: -20px;}
        #list1 { width: 8330px; height: 474px; position: absolute; z-index: 1;}
        #list1 img { float: left;}
        #buttons1 { position: absolute; height: 10px; width: 100px; z-index: 2; bottom: 20px; left: 250px}
        #buttons1 span { cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; background: #333; margin-right: 5px;}
        #buttons1 .on {  background: blue;}
        .arrow { cursor: pointer; display: none; line-height: 39px; text-align: center; font-size: 36px; font-weight: bold; width: 40px; height: 40px;  position: absolute; z-index: 2; top: 180px; background-color: RGBA(0,0,0,.3); color: #fff;}
        .arrow:hover { background-color: RGBA(0,0,0,.7);}
        #container1:hover .arrow { display: block;}
        #prev1 { left: 230px;}
        #next1 { right: 20px;}
/* ========================banner补===================== */



/* ==============img5=============== */
#img5{width: 100%;height:592px;}
#img5 .wrap{height: 592px;position: relative;}
.f4{position: absolute;top: 50px;left: 12px;}
.line111{position: absolute;top:92px;left:13px; }
.line_112{position: absolute;left:120px;top:92px }
.line_113{position: absolute;top:164px;left: 13px }
.line_114{position: absolute;left:120px;top:165px }
.line_115{position: absolute;top:236px;left:13px }
.line_116{position: absolute;left: 120px;top:236px }

.popup000{width:224px;height: 125px;background: black; position: absolute;top: -143px}
.popup111{width:224px;height: 125px;background: red; position: absolute;top: -143px}
.popup112{width: 224px;height: 125px;background: blue;position: absolute;top: -143px}

.popup113{width: 224px;height: 125px;background: green;position: absolute;top: -143px}
 

.popup114{width: 224px;height: 125px;background: orange;position: absolute;top: -143px} 


.popup115{width: 224px;height: 125px;background: purple;position: absolute;top: -143px} 



#oo11{width: 210px;height: 206px;background:#fafafa;position: absolute;top: 340px;left:12px;margin-top: 16px}
#oo11 p{display: inline;background:#fafafa;width:179px;height: 13px;line-height: 30px;margin-left: 11px;font-size: 12px;margin-top: 100px;}


.photo_111{width: 285px;height: 470px;position: absolute;left: 225px;top: 91px;overflow: hidden;}
.photo_111 .photo112{position: absolute;left: 0px;top:0px;width: 287px;height: 472px}


.graph0000{width: 233px;height: 238px;background: #fff;position: absolute;left: 511px;top: 91px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_111{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px}
.graph_122{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}


.graph1111{width: 233px;height: 238px;background: #fff;position: absolute;left: 747px;top: 91px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_133{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px}
.graph_144{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}

.graph2222{width: 233px;height: 238px;background: #fff;position: absolute;left: 982px;top: 91px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_155{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px;}
.graph_166{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}

.graph3333{width: 233px;height: 238px;background: #fff;position: absolute;left: 511px;top: 330px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_177{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px;}
.graph_188{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}



.graph4444{width: 233px;height: 238px;background: #fff;position: absolute;left: 745px;top: 330px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_199{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px;}
.graph_200{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}


.graph5555{width: 233px;height: 238px;background: #fff;position: absolute;left: 982px;top: 330px;border-right:1px solid #ccc;border-bottom:1px solid #ccc  }
.graph_201{width: 185px;height: 185px;position: absolute;top: 10px;left: 24px;}
.graph_202{width: 185px;height: 33px;background: #fff;font-size: 12px;text-align: center;line-height: 33px;position: absolute;left: 25px;top: 200px}



/* ==============img5=============== */


/* ================foot1=============== */
#footer1{width: 100%;height: 233px;background: #f5f5f5;border-top: 1px solid #ccc }
#footer1 .wrap{height: 233px;}
.end{margin-top: 23px;width: 115px;height: 199px;float: left;}
dt{width:115px;height: 37px;font-weight: bolder;font-size:14px}
dd{width: 115px;height: 27px;font-size: 12px;}


.end1{width: 115px;height:199px;float: left;margin-top: 23px;}


.end2{width: 115px;height: 199px;float: left;margin-top:23px; }
.end3{width: 115px;height: 199px;float: left;margin-top:23px; }

.end4{width: 115px;height: 199px;float: left;margin-top:23px; }




.end5{width: 115px;height: 199px;float: left;margin-top:23px; }




.end6{width: 115px;height: 199px;float: left;margin-top:23px; }


.footer3{width:367px;height: 212px;float: left;}

/* ================foot1=============== */
/* -=================foot2================== */
#footer2{width: 100%;height:248px;}
#footer2 .wrap{height: 248px;position: relative;background: #fff}
.uu{width: 1190px;height: 70px;border-bottom: 1px solid #ccc;position:absolute;}
.ie{position: absolute;left:27px;top: 21px;}
.ft{position: absolute;left: 79px;top: 29px;color: red}
.fg{position: absolute;top:29px;left:147px;}
.ren{position: absolute;left: 273px;top: 21px}
.ff{position: absolute;left: 321px;top: 29px;color: red}
.ff1{position: absolute;left: 391px;top: 29px}
.bus{position: absolute;left: 575px;top: 21px;}
.bus1{position: absolute;left: 634px;top: 29px;}
.u7{position: absolute;left: 874px;top: 21px}
.u8{position: absolute;left: 927px;top: 29px;color: red}
.u9{position: absolute;left: 1035px;top: 29px;}
.uu1{position: absolute;height:174px;width: 1190px;top: 75px}
.uu2{position: absolute;left: 365px;top: 21px}
.uu3{position: absolute;left: 468px;top: 47px}
.uu4{position: absolute;left: 401px;top:75px;}
.uu5{position: absolute;left: 408px;top: 104px}
/* -=================foot2================== */





















